<div>
  <div class="table-responsive" id="entities">
    <div class="export-file">
      <button (click)="exportToExcel()">Export</button>
    </div>
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-lenh-san-xuat-heading" data-cy="LenhSanXuatCreateUpdateHeading">Duyệt yêu cầu</h2>
      <div>
        <table>
          <thead>
            <tr>
              <th scope="col">
                <span>Mã lệnh sản xuất</span>
              </th>
              <th scope="col">
                <span>Mã SAP</span>
              </th>
              <th scope="col">
                <span>Tên SAP</span>
              </th>
              <th scope="col">
                <span>Mã WO</span>
              </th>
              <th scope="col">
                <span>Version</span>
              </th>
              <th scope="col">
                <span>Mã kho nhập</span>
              </th>
              <th scope="col">
                <span>Tổng số lượng nhập</span>
              </th>
              <th scope="col">
                <span>Cập nhật bởi</span>
              </th>
              <th scope="col">
                <span>Thời gian in tem</span>
              </th>
              <th scope="col">
                <span>Trạng thái</span>
              </th>
              <th scope="col">
                <span>Lưu ý</span>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr data-cy="entityTable">
              <td>
                <input class="form-control" id="maLenhSanXuat" list="maLenhSanXuat" formControlName="maLenhSanXuat" />
              </td>
              <td>
                <input class="form-control" id="sapCode" list="sapCode" formControlName="sapCode" />
              </td>
              <td>
                <input class="form-control" id="sapName" list="sapName" formControlName="sapName" />
              </td>
              <td>
                <input class="form-control" id="workOrderCode" list="workOrderCode" formControlName="workOrderCode" />
              </td>
              <td>
                <input class="form-control" id="version" list="version" formControlName="version" />
              </td>
              <td>
                <input class="form-control" id="storageCode" list="storageCode" formControlName="storageCode" />
              </td>
              <td>
                <input class="form-control" id="totalQuantity" list="totalQuantity" formControlName="totalQuantity" />
              </td>
              <td>
                <input class="form-control" id="createBy" list="createBy" formControlName="createBy" />
              </td>
              <td>
                <input class="form-control" id="entryTime" list="entryTime" formControlName="entryTime" />
              </td>
              <td>
                <input class="form-control" id="trangThai" list="trangThai" formControlName="trangThai" />
              </td>
              <td>
                <input class="form-control" id="comment" list="comment" formControlName="comment" />
              </td>
            </tr>
          </tbody>
        </table>

        <button class="btn-scan" role="button">Scan tem</button>
        <input type="text" />

        <h3 id="jhi-lenh-san-xuat-heading" data-cy="LenhSanXuatCreateUpdateHeading">Danh sách tem có trong lệnh</h3>
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr>
              <th scope="col">STT</th>
              <th scope="col"><span class="custom-width">Reel ID</span></th>
              <th scope="col"><span class="custom-width">Part Number</span></th>
              <th scope="col"><span class="custom-width">Vendor</span></th>
              <th scope="col"><span class="custom-width">LOT</span></th>
              <th scope="col">User Data 1</th>
              <th scope="col">User Data 2</th>
              <th scope="col">User Data 3</th>
              <th scope="col">User Data 4</th>
              <th scope="col">User Data 5</th>
              <th scope="col">Initial Quantity</th>
              <th scope="col">MSD Level</th>
              <th scope="col">MSD Initial Floor Time</th>
              <th scope="col">MSD Bag Seal Date</th>
              <th scope="col">Market Usage</th>
              <th scope="col">Quantity Override</th>
              <th scope="col">Shelf Time</th>
              <th scope="col">SP Material Name</th>
              <th scope="col">Warning Limit</th>
              <th scope="col">Maximum Limit</th>
              <th scope="col">Comments</th>
              <th scope="col">Warm Up Time</th>
              <th scope="col"><span class="custom-width">Storage Unit</span></th>
              <th scope="col">Sub Storage Unit</th>
              <th scope="col">Location Override</th>
              <th scope="col">Expiration Date</th>
              <th scope="col">ManuFacturing Date</th>
              <th scope="col">Part Class</th>
              <th scope="col">Sap Code</th>
              <th scope="col"><span class="custom-width">Status</span></th>
              <th scope="col">Checked</th>
              <!-- <th scope="col" jhiSortBy=""></th> -->
            </tr>
          </thead>

          <tr *ngFor="let data of chiTietLenhSanXuats; let i = index; trackBy: trackId" class="editable-row">
            <td>
              <span>{{ i + 1 }}</span>
            </td>

            <td>
              <input class="input-table" type="text" list="reelID" [(ngModel)]="data.reelID" [ngModelOptions]="{ standalone: true }" />
            </td>

            <td>
              <input
                class="input-table"
                type="text"
                list="partNumber"
                [(ngModel)]="data.partNumber"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td>
              <input class="input-table" type="text" list="vendor" [(ngModel)]="data.vendor" [ngModelOptions]="{ standalone: true }" />
            </td>
            <td>
              <input class="input-table" type="text" list="lot" [(ngModel)]="data.lot" [ngModelOptions]="{ standalone: true }" />
            </td>
            <td>
              <input
                class="input-table"
                type="text"
                list="userData1"
                [(ngModel)]="data.userData1"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td>
              <input
                class="input-table"
                type="text"
                list="userData2"
                [(ngModel)]="data.userData2"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td>
              <input
                class="input-table"
                type="text"
                list="userData3"
                [(ngModel)]="data.userData3"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td>
              <input
                class="input-table"
                type="text"
                list="userData4"
                [(ngModel)]="data.userData4"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td>
              <input
                class="input-table"
                type="text"
                list="userData5"
                [(ngModel)]="data.userData5"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td>
              <input
                class="input-table"
                type="text"
                list="initialQuantity"
                [(ngModel)]="data.initialQuantity"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td>
              <input class="input-table" type="text" list="msdLevel" [(ngModel)]="data.msdLevel" [ngModelOptions]="{ standalone: true }" />
            </td>
            <td>
              <input
                class="input-table"
                type="text"
                list="msdInitialFloorTime"
                [(ngModel)]="data.msdInitialFloorTime"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td>
              <input
                class="input-table"
                type="text"
                list="msdBagSealDate"
                [(ngModel)]="data.msdBagSealDate"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td>
              <input
                class="input-table"
                type="text"
                list="marketUsage"
                [(ngModel)]="data.marketUsage"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td>
              <input
                class="input-table"
                type="text"
                list="quantityOverride"
                [(ngModel)]="data.quantityOverride"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td>
              <input
                class="input-table"
                type="text"
                list="shelfTime"
                [(ngModel)]="data.shelfTime"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td>
              <input
                class="input-table"
                type="text"
                list="spMaterialName"
                [(ngModel)]="data.spMaterialName"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td>
              <input
                class="input-table"
                type="text"
                list="warningLimit"
                [(ngModel)]="data.warningLimit"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td>
              <input
                class="input-table"
                type="text"
                list="maximumLimit"
                [(ngModel)]="data.maximumLimit"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td>
              <input class="input-table" type="text" list="comments" [(ngModel)]="data.comments" [ngModelOptions]="{ standalone: true }" />
            </td>
            <td>
              <input
                class="input-table"
                type="text"
                list="warmupTime"
                [(ngModel)]="data.warmupTime"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td>
              <input
                class="input-table"
                type="text"
                list="storageUnit"
                [(ngModel)]="data.storageUnit"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td>
              <input
                class="input-table"
                type="text"
                list="subStorageUnit"
                [(ngModel)]="data.subStorageUnit"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td>
              <input
                class="input-table"
                type="text"
                list="locationOverride"
                [(ngModel)]="data.locationOverride"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td>
              <input
                class="input-table"
                type="text"
                list="expirationDate"
                [(ngModel)]="data.expirationDate"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td>
              <input
                class="input-table"
                type="text"
                list="manufacturingDate"
                [(ngModel)]="data.manufacturingDate"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td>
              <input
                class="input-table"
                type="text"
                list="partClass"
                [(ngModel)]="data.partClass"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td>
              <input class="input-table" type="text" list="sapCode" [(ngModel)]="data.sapCode" [ngModelOptions]="{ standalone: true }" />
            </td>
            <td>
              <select class="form-control form-select" formControlName="trangThai">
                <option [ngValue]="" hidden>{{ data.trangThai }}</option>
                <option value="active">active</option>
                <option value="deactive">deactive</option>
              </select>
            </td>
            <td>
              <input type="checkbox" />
            </td>
          </tr>
        </table>

        <h3>Danh sách tem không có trong lệnh</h3>
        <table>
          <thead>
            <tr>
              <th scope="col">STT</th>
              <th scope="col"><span class="custom-width">Reel ID</span></th>
              <th scope="col"><span class="custom-width">Part Number</span></th>
              <th scope="col"><span class="custom-width">Vendor</span></th>
              <th scope="col"><span class="custom-width">LOT</span></th>
              <th scope="col">User Data 1</th>
              <th scope="col">User Data 2</th>
              <th scope="col">User Data 3</th>
              <th scope="col">User Data 4</th>
              <th scope="col">User Data 5</th>
              <th scope="col">Initial Quantity</th>
              <th scope="col">MSD Level</th>
              <th scope="col">MSD Initial Floor Time</th>
              <th scope="col">MSD Bag Seal Date</th>
              <th scope="col">Market Usage</th>
              <th scope="col">Quantity Override</th>
              <th scope="col">Shelf Time</th>
              <th scope="col">SP Material Name</th>
              <th scope="col">Warning Limit</th>
              <th scope="col">Maximum Limit</th>
              <th scope="col">Comments</th>
              <th scope="col">Warm Up Time</th>
              <th scope="col"><span class="custom-width">Storage Unit</span></th>
              <th scope="col">Sub Storage Unit</th>
              <th scope="col">Location Override</th>
              <th scope="col">Expiration Date</th>
              <th scope="col">ManuFacturing Date</th>
              <th scope="col">Part Class</th>
              <th scope="col"><span class="custom-width">Sap Code</span></th>
              <th scope="col">Status</th>
              <th scope="col">Checked</th>
              <!-- <th scope="col"></th> -->
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let i = index" class="editable-row">
              <td>
                <span>{{ i + 1 }}</span>
              </td>
              <td><input class="input-table" type="text" list="reelID" /></td>
              <td><input class="form-control" id="partNumber" list="partNumber" /></td>
              <td><input class="form-control" id="vendor" list="vendor" /></td>
              <td><input class="form-control" id="lot" list="lot" /></td>
              <td><input class="form-control" id="userData1" list="userData1" /></td>
              <td><input class="form-control" id="userData2" list="userData2" /></td>
              <td><input class="form-control" id="userData3" list="userData3" /></td>
              <td><input class="form-control" id="userData4" list="userData4" /></td>
              <td><input class="form-control" id="userData5" list="userData5" /></td>
              <td><input class="form-control" id="initialQuantity" list="initialQuantity" /></td>
              <td><input class="form-control" id="msdLevel" list="msdLevel" /></td>
              <td>
                <input class="form-control" id="msdInitialFloorTime" list="msdInitialFloorTime" />
              </td>
              <td><input class="form-control" id="msdBagSealDate" list="msdBagSealDate" /></td>
              <td><input class="form-control" id="marketUsage" list="marketUsage" /></td>
              <td><input class="form-control" id="quantityOverride" list="quantityOverride" /></td>
              <td><input class="form-control" id="shelfTime" list="shelfTime" /></td>
              <td><input class="form-control" id="spMaterialName" list="spMaterialName" /></td>
              <td><input class="form-control" id="warningLimit" list="warningLimit" /></td>
              <td><input class="form-control" id="maximumLimit" list="maximumLimit" /></td>
              <td><input class="form-control" id="comments" list="comments" /></td>
              <td><input class="form-control" id="warmupTime" list="warmupTime" /></td>
              <td><input class="form-control" id="storageUnit" list="storageUnit" /></td>
              <td><input class="form-control" id="subStorageUnit" list="subStorageUnit" /></td>
              <td><input class="form-control" id="locationOverride" list="locationOverride" /></td>
              <td><input class="form-control" id="expirationDate" list="expirationDate" /></td>
              <td><input class="form-control" id="manufacturingDate" list="manufacturingDate" /></td>
              <td><input class="form-control" id="partClass" list="partClass" /></td>
              <td><input class="form-control" id="sapCode" list="sapCode" /></td>
              <td><input class="form-control" id="trangThai" list="trangThai" /></td>
              <td><input type="checkbox" id="checked" list="checked" /></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <button type="submit" id="save-entity" class="btn btn-primary" (click)="pheDuyetTem()">
          <fa-icon icon="check"></fa-icon>&nbsp;<span>Phê duyệt</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Lưu</span>
        </button>

        <button type="submit" id="save-entity" class="btn btn-primary" (click)="khoHuyStatus()">
          <fa-icon icon="xing-square"></fa-icon>&nbsp;<span>Huỷ</span>
        </button>

        <button type="submit" id="save-entity" class="btn btn-primary" (click)="khoTuChoiStatus()">
          <fa-icon icon="cancel"></fa-icon>&nbsp;<span>Từ chối</span>
        </button>

        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Trở lại</span>
        </button>
      </div>
    </form>
  </div>
</div>
