<div>
  <div>
    <div *ngIf="chiTietLenhSanXuat">
      <h2 data-cy="chiTietLenhSanXuatDetailsHeading"><span>Duyệt yêu cầu</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.id }}</span>
        </dd>
        <dt><span>Reel ID</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.reelID }}</span>
        </dd>
        <dt><span>Part Number</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.partNumber }}</span>
        </dd>
        <dt><span>Vendor</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.vendor }}</span>
        </dd>
        <dt><span>Lot</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.lot }}</span>
        </dd>
        <dt><span>User Data 1</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.userData1 }}</span>
        </dd>
        <dt><span>User Data 2</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.userData2 }}</span>
        </dd>
        <dt><span>User Data 3</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.userData3 }}</span>
        </dd>
        <dt><span>User Data 4</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.userData4 }}</span>
        </dd>
        <dt><span>User Data 5</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.userData5 }}</span>
        </dd>
        <dt><span>Initial Quantity</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.initialQuantity }}</span>
        </dd>
        <dt><span>Msd Level</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.msdLevel }}</span>
        </dd>
        <dt><span>Msd Initial Floor Time</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.msdInitialFloorTime }}</span>
        </dd>
        <dt><span>Msd Bag Seal Date</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.msdBagSealDate }}</span>
        </dd>
        <dt><span>Market Usage</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.marketUsage }}</span>
        </dd>
        <dt><span>Quantity Override</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.quantityOverride }}</span>
        </dd>
        <dt><span>Shelf Time</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.shelfTime }}</span>
        </dd>
        <dt><span>Sp Material Name</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.spMaterialName }}</span>
        </dd>
        <dt><span>Warning Limit</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.warningLimit }}</span>
        </dd>
        <dt><span>Maximum Limit</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.maximumLimit }}</span>
        </dd>
        <dt><span>Comments</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.comments }}</span>
        </dd>
        <dt><span>Warmup Time</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.warmupTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Storage Unit</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.storageUnit }}</span>
        </dd>
        <dt><span>Sub Storage Unit</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.subStorageUnit }}</span>
        </dd>
        <dt><span>Location Override</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.locationOverride }}</span>
        </dd>
        <dt><span>Expiration Date</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.expirationDate }}</span>
        </dd>
        <dt><span>Manufacturing Date</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.manufacturingDate }}</span>
        </dd>
        <dt><span>Part Class</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.partClass }}</span>
        </dd>
        <dt><span>Sap Code</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.sapCode }}</span>
        </dd>
        <dt><span>Trang Thai</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.trangThai }}</span>
        </dd>
        <dt><span>Checked</span></dt>
        <dd>
          <span>{{ chiTietLenhSanXuat.checked }}</span>
        </dd>
        <dt><span>Lenh San Xuat</span></dt>
        <dd>
          <div *ngIf="chiTietLenhSanXuat.lenhSanXuat">
            <a [routerLink]="['/lenh-san-xuat', chiTietLenhSanXuat.lenhSanXuat?.id, 'view']">{{ chiTietLenhSanXuat.lenhSanXuat?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/chi-tiet-lenh-san-xuat', chiTietLenhSanXuat.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
